
 .perfilContainer{

  display: flex;  
  align-items: center;  
  justify-content: center;
  flex-direction: column;
 

   .fotoPerfil{                        
        border-radius: 50%;   
        flex-flow: row;
        padding-bottom: 10px;
      }   
  }